@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&display=swap');

* {
  margin: 0;
}

body {
  background: #76b7b7;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  font-family: 'Roboto Mono', monospace;
  display: grid;
  place-items: center;
  height: 100vh;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

input {
  padding: 0.5rem;
  border-radius: 20px;
  border-color: #ccc;
  width: 100%;
  font-size: large;
  font-weight: bold;
  border: solid 2px #76b7b7;
  text-align: center;
}

input:focus {
  outline: none !important;
  border-color: #ccc;
}

.search-wrapper {
  position: relative;
  margin: 2rem 0 2rem 0;
}

.search-bar {
  display: grid;
  justify-items: center;
  grid-auto-flow: column;
  align-items: center;
  margin-bottom: 3rem;
}

.search-form {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-auto-flow: column;
}

.error-msg {
  position: absolute;
  top: 80px;
  left: 15px;
  margin-top: -2rem;
  color: #ee3737;
  text-shadow: 1px 1px 3px rgba(242, 242, 242, 0.6);
}

.ld-spinner {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.ld-spinner:after {
  content: ' ';
  display: block;
  width: 65px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: ld-spinner 1.2s linear infinite;
}

@keyframes ld-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn {
  height: 2.5rem;
  width: 2.5rem;
  background-color: #eb5353;
  border-radius: 50%;
  margin-inline: 1rem;
  padding: 0.6rem;
  border: solid 2px #76b7b7;
  color: white;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  background-color: #ee3737;
  transform: scale(1.1);
}

.info-wrapper {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url('images/weatherApp.png');
  background-size: cover;
  background-position: 50% 80%;
  text-align: center;
  max-width: 23rem;
  min-height: 37rem;
  padding-inline: 11rem;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

.wrapper {
  display: flex;
  align-items: center;
}

.icons {
  margin-inline: 0.8rem;
}

.icons.hidden {
  display: none;
}

.area h2 {
  font-size: 2rem;
}

.temperature {
  font-size: 4rem;
}

.feels-like-temp {
  margin-bottom: 1.5rem;
  text-align: center;
}

#weather-icon {
  margin-bottom: 8rem;
}

@media only screen and (max-width: 650px) {
  body {
    background-image: url('images/weatherApp.png');
  }

  div.search-bar {
    margin: -3rem 0 4rem 0;
  }

  div.info-wrapper {
    background-image: none;
    border-radius: none;
    box-shadow: none;
    padding: 2rem;
  }

  div.info {
    font-size: 1.2rem;
  }
}
