@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&display=swap');

* {
  margin: 0;
}

body {
  background: #76b7b7;
  /* background-image: url('appWeather.png'); */

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  font-family: 'Roboto Mono', monospace;
  display: grid;
  place-items: center;
  height: 100vh;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

form {
  margin: 1rem 0 1rem 0;
}

input {
  padding: 0.5rem;
  border-radius: 20px;
  border-color: #ccc;
  width: 100%;
  font-size: large;
  font-weight: bold;
}

.search-btn {
  /* background-color: #ffcd00; */
  background-color: #eb5353;
  border-radius: 50%;
  margin-inline: 1rem;
  padding: 0.6rem;
  border-color: #eb5353;
  font-weight: bold;
  color: white;
  transition: 0.3s ease-in-out;
}

.search-btn:hover {
  background-color: #f00c0c;
  transform: scale(1.1);
}

.search-form {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

/* .container {
} */

.container h1 {
  font-size: 4rem;
}

.info-wrapper {
  /* background-image: url('https://source.unsplash.com/random/?weather'); */
  background-image: url('appWeather.png');
  background-size: cover;
  background-position: 50% 100%;
  /* background-attachment: fixed; */
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background: rgba(0, 0, 0, 0.7); */
  /* background: rgba(24, 116, 152, 0.8); */
  /* width: 60%;
  max-width: 450px; */
  padding: 2rem;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

.wrapper {
  display: flex;
  align-items: center;
}

.icons {
  margin-inline: 0.5rem;
}

.icons.hidden {
  display: none;
}

.area {
  display: flex;
  align-items: baseline;
  text-align: center;
}

.area h2 {
  font-size: 2rem;
}

.temperature {
  font-size: 4rem;
}

.feels-like-temp {
  margin-bottom: 1.5rem;
  text-align: center;
}

#weather-icon {
  margin-bottom: 8rem;
}

@media only screen and (max-width: 650px) {
  body {
    background-image: url('appWeather.png');
  }

  form {
    margin: -2rem 0 2rem 0;
  }

  div.info-wrapper {
    background-image: none;
    border-radius: none;
    box-shadow: none;
  }

  div.info {
    font-size: 1.2rem;
  }
}
